.admin-sidebar {
    max-height: 100vh;
    background-color: #0a3661;
    color: #ddd;
    z-index: 10;
}
.admin-sidebar-arrow {
    position: absolute;
    top: 2px;
    right: 2px;
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
    display: none;
}
.admin-sidebar-arrow:active {
    background-color: #134679;
}

.admin-sidebar-username {
    font-weight: 300;
    font-size: 1.5rem;
}
.admin-sidebar-email {
    display: block;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 300;
    margin-top: 5px;
}
hr {
    border-color: #224a72;
}
.admin-sidebar-btn {
    cursor: pointer;
}
.admin-sidebar-btn:hover {
    background-color: #134679;
}
.admin-sidebar-btn:active {
    background-color: #134679;
}
.sidebar-brand {
    position: absolute;
    font-size: 10px;
    letter-spacing: 1px;
    color: #ccc;
    width: 100%;
    bottom: 10px;
    left: -10px;
    text-align: center;
}
.admin-workspace {
    height: 100vh;
    overflow-y: scroll;
    z-index: 1;
    background-color: #fffdeb;
}
.admin-workspace-container {
    margin-top: 60px;
}

@media only screen and (max-width: 576px) {
    .admin-sidebar {
        position: fixed;
        width: 80vw;
        height: 100vh;
    }
    .admin-sidebar-arrow {
        display: block;
    }
}
