.goToDashboard-button {
    background-color: #346494;
    color: #ddd;
}
.create-button {
    background-color: #346494;
    color: #ddd;
}
.goToDashboard-button:hover {
    color: #ccc;
    background-color: #24578a;
}
.create-button:hover {
    color: #ccc;
    background-color: #24578a;
}
