.auth-container {
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    padding-top: 10vh;
    background-color: #0a3661;
}

.auth-form-container {
    color: #ddd;
    background-color: #0a3661;
}
.auth-header-btn {
    border-bottom: solid 3px transparent;
    cursor: pointer;
    font-weight: 500;
    color: #ddd;
}
.auth-header-btn:hover {
    border-bottom: solid 3px rgb(87, 170, 87);
}
.auth-header-btn.active {
    background-color: #eee;
    border-bottom: solid 3px green;
    color: #444;
}
@media only screen and (max-width: 576px) {
    .auth-form-container {
        width: 90% !important;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 1000px) {
    .auth-form-container {
        width: 36% !important;
        margin: 0 auto;
    }
}
