.dashboard-change-email-form {
    width: 50%;
    margin: 100px auto;
}
.dashboardModal-title {
    font-size: 1.5rem;
    font-weight: 300;
}
.dashboardModal-btn {
    background-color: #174e85;
    color: #ddd;
}
.dashboardModal-btn:hover {
    color: #ccc;
    background-color: #25609b;
}
@media only screen and (max-width: 1000px) {
    .dashboard-change-email-form {
        width: 70%;
    }
}
@media only screen and (max-width: 678px) {
    .dashboard-change-email-form {
        width: 90%;
    }
}

/* .dashboardModal-container {
    position: fixed;
    z-index: 20;
    width: 36vw;
    right: 0;
    bottom: 0;
    background-color: #0a3661;
    color: #ddd;
}
.dashboardModal-container {
}
.dashboardModal-btn {
    background-color: #174e85;
    color: #ddd;
}
.dashboardModal-btn:hover {
    color: #ccc;
    background-color: #25609b;
}
.dashboardModal-collapse-arrow {
    cursor: pointer;
    transition: margin 0.08s;
    position: absolute;
}
.dashboardModal-collapse-arrow:hover {
    margin-left: 3px;
}

@media only screen and (max-width: 900px) {
    .dashboardModal-container {
        width: 50vw;
    }
}
@media only screen and (max-width: 600px) {
    .dashboardModal-container {
        width: 80vw;
    }
}
@media only screen and (min-width: 1440px) {
    .dashboardModal-container {
        width: 30vw;
    }
} */
