.dashboard-sidebar {
    max-height: 100vh;
    background-color: #0a3661;
    color: #ddd;
    z-index: 10;
    transition: margin 0.2s;
}
/* .dashboard-sidebar-hide {
    margin-left: -40vw;
}
.dashboard-sidebar-show {
    margin-left: 0vw;
} */
.dashboard-sidebar-arrow {
    position: absolute;
    top: 2px;
    right: 2px;
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
    display: none;
}
.dashboard-sidebar-arrow:active {
    background-color: #134679;
}

.dashboard-sidebar-username {
    font-weight: 300;
    font-size: 1.5rem;
}
.dashboard-sidebar-email {
    display: block;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 300;
    margin-top: 5px;
}
hr {
    border-color: #224a72;
}
.dashboard-sidebar-btn {
    cursor: pointer;
}
.dashboard-sidebar-btn:hover {
    background-color: #2d5b8a;
}
.dashboard-sidebar-btn:active {
    background-color: #134679;
}
.dashboard-sidebar-btn.active {
    background-color: #134679;
}
.sidebar-brand {
    position: absolute;
    font-size: 10px;
    letter-spacing: 1px;
    color: #ccc;
    width: 100%;
    bottom: 10px;
    left: -10px;
    text-align: center;
}
.dashboard-workspace {
    height: 100vh;
    overflow-y: scroll;
    z-index: 1;
}
.dashboard-filter-container {
    position: fixed;
    width: 100%;
    background-color: #fafafa;
    z-index: 10;
}
.dashboard-filterContainer-menu {
    cursor: pointer;
    color: #444;
    border-radius: 50%;
    padding: 10px 12px;
}
.dashboard-filterContainer-menu:hover {
    background-color: #eee;
}

.dashboard-projects-container {
    margin-top: 60px;
}
.dashboard-project {
    cursor: pointer;
    background-color: #fff;
}
.dashboard-project:hover {
    box-shadow: -1px 8px 5px -8px rgba(0, 0, 0, 0.25);
}
.dashboard-project:active {
    background-color: #fefefe;
}

@media only screen and (max-width: 678px) {
    .dashboard-sidebar {
        width: 40vw !important;
    }
}

@media only screen and (max-width: 576px) {
    .dashboard-sidebar {
        position: fixed;
        width: 80vw;
        height: 100vh;
    }
    .dashboard-sidebar-hide {
        margin-left: -80vw;
    }
    .dashboard-sidebar-show {
        margin-left: 0vw;
    }
    .dashboard-sidebar-arrow {
        display: block;
    }
}
