.make-query-form {
    width: 40%;
}
@media only screen and (max-width: 1000px) {
    .make-query-form {
        width: 80%;
    }
}
@media only screen and (max-width: 576px) {
    .make-query-form {
        width: 90%;
    }
}
