.project-title-section {
    position: fixed;
    width: 100%;
    overflow-x: hidden;
    top: 0;
    background-color: #2c5c8d;
}
.project-filter-section {
    position: fixed;
    width: 100%;
    top: 0;
    transition: all 0.2s ease-in-out;
    background-color: #fdfdfd;
}
.project-title-div {
    cursor: pointer;
}
.project-filter-section.hide {
    left: -100%;
}
.project-filter-section.show {
    left: 0;
}

.project-workspace-section {
    padding-top: 80px;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 40px;
    overflow-y: scroll;
    height: 100vh;
}
.project-filter-section-close {
    margin-right: 1vw;
}
.project-filter-section-close i {
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
}
.project-sidebar {
    overflow-x: hidden;
    color: #444 !important;
    position: sticky;
    top: 0;
    width: 20vw;
    background-color: transparent;
    height: 80vh;
}
.query-answers-section-child {
    margin-left: 20px;
    position: relative;
}
.query-answers-section-border {
    position: absolute;
    display: inline;
    height: 100%;
    width: 4px;
    background-color: #eee;
    border-radius: 5px;
}
.project-view-details-btn:hover {
    color: blue !important;
    text-decoration: underline;
    cursor: pointer;
}
.view-hide-discussion-btn:hover {
    cursor: pointer;
    text-decoration: underline;
}
