.zero-projects-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.projectContainer-projectTitle {
    letter-spacing: 1.4px;
    font-family: Arial, Helvetica, sans-serif;
}
.projectContainer-project-description {
    color: #777;
}
.project-seemore-text:hover {
    color: blue !important;
    text-decoration: underline;
}
